body {
  background-color: #C2DCF3;
}

h2 {
  color: Black;
  left: 0;
  top: 80px;
  font-size: 24px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

table {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px; 
  border-collapse: 
  collapse; border-spacing: 0; 
}

td, th { border: 1px solid #CCC; height: 30px; }

th {  
  background: #F3F3F3;
  font-weight: bold;
}

td {  
  background: #FAFAFA;
  text-align: center;
}

#sales-form {
  position: absolute;
  top: 500px;
  display: block;
}

h3 {
  color: White;
}

#logo {
  color: White;
  font-size: 50px;
  left: 0px;
  top: 0;
  font-family: 'Anton', sans-serif;
}

.nav-link {
  display: inline;
  color: white;
  left: 0;
  top: 80px;
  font-size: 28px;
  padding: 60px 10px;
  margin: 40px 0px;
}

a {
  text-decoration: none;
  color: rgb(250, 148, 148);
}

